@import 'tailwindcss';
@import 'uniwind';

@theme {
  /* Fonts */
  --font-sans: 'SpaceGrotesk-Regular';
  --font-sans-light: 'SpaceGrotesk-Light';
  --font-sans-semibold: 'SpaceGrotesk-SemiBold';
  --font-sans-bold: 'SpaceGrotesk-Bold';
  --font-cinzel: 'Cinzel-Regular';
  --font-cinzel-semibold: 'Cinzel-SemiBold';
  --font-cinzel-bold: 'Cinzel-Bold';
  --font-mana: 'mana';
}

@layer theme {
  :root {
    @variant light {
      --color-foreground: #fabd23;
      --color-foreground-lighter: #e7b008;
      --color-foreground-darker: #f59f0a;
      --color-gray: #94a3b8;
      --color-gray-lighter: #5c6f8a;
      --color-gray-darker: #c2cad6;
      --color-background-primary: #1d283a;
      --color-background-primary-lighter: #344256;
      --color-background-primary-darker: #08091a;
      --color-background-secondary: #2463eb;
      --color-background-secondary-lighter: #3c83f6;
      --color-background-secondary-darker: #088eaf;
      --color-card-collection: #341c40;
      --color-card-collection-lighter: #472956;
      --color-card-deck: #431919;
      --color-card-deck-lighter: #592626;

      /* Mana color identity */
      --color-mana-w: #fffbd5;
      --color-mana-u: #aae0fa;
      --color-mana-b: #cbc2bf;
      --color-mana-r: #f9aa8f;
      --color-mana-g: #9bd3ae;
      --color-mana-c: #ccc2c0;

      /* Rarity */
      --color-rarity-common: #1a1718;
      --color-rarity-uncommon: #707883;
      --color-rarity-rare: #a58e4a;
      --color-rarity-mythic: #bf4427;
    }
    @variant dark {
      --color-foreground: #fabd23;
      --color-foreground-lighter: #e7b008;
      --color-foreground-darker: #f59f0a;
      --color-gray: #94a3b8;
      --color-gray-lighter: #5c6f8a;
      --color-gray-darker: #c2cad6;
      --color-background-primary: #1d283a;
      --color-background-primary-lighter: #344256;
      --color-background-primary-darker: #08091a;
      --color-background-secondary: #2463eb;
      --color-background-secondary-lighter: #3c83f6;
      --color-background-secondary-darker: #088eaf;
      --color-card-collection: #341c40;
      --color-card-collection-lighter: #472956;
      --color-card-deck: #431919;
      --color-card-deck-lighter: #592626;

      /* Mana color identity */
      --color-mana-w: #fffbd5;
      --color-mana-u: #aae0fa;
      --color-mana-b: #cbc2bf;
      --color-mana-r: #f9aa8f;
      --color-mana-g: #9bd3ae;
      --color-mana-c: #ccc2c0;

      /* Rarity */
      --color-rarity-common: #1a1718;
      --color-rarity-uncommon: #707883;
      --color-rarity-rare: #a58e4a;
      --color-rarity-mythic: #bf4427;
    }
  }
}
